/* .body {
  background-color: lightgrey !important;
} */



#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 500px;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 50px;
  row-gap: 50px;
}


.card-title {
  display: flex;
  justify-content: center;
}

/* .card-text {
  display: flex;
  justify-content: center;
}  */

.card-body1 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
} 

.card-body2 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
} 

.card-body3 {
  display: flex;
  justify-content: center;
} 

.buttons {
  display: flex;
  justify-content: center;
  gap: 7%;
}

/* #dog {
  padding-right: 50px;
}

#cat {
  padding-right: 50px;
}

#dino {
  
} */

body {
  background-color: lightgray;
}
