.card {
  display: flex;
  text-align: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 400px;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 50px;
  row-gap: 100px;
  column-gap: 20px;
}


.card-title {
  display: flex;
  justify-content: center;
}

.card-body1 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
} 

.card-body2 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  height: 125px;
} 

.card-footer {
  display: flex;
  justify-content: center;
} 

.buttons {
  display: flex;
  justify-content: center;
  gap: 7%;
  padding-top: 50px;
}

#dog {
  background-color: rgb(5, 192, 5);
}

#cat {
  background-color: lightblue;
}

#dino {
  background-color: orange;
}

body {
  background-color: lightgray;
}

.img-thumbnail {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; 
}

.form-floating {
  width: 600px;
}

/* #form-submit {
  padding-top: 50px;
} */

.headerText {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
  background-image: "https://media.istockphoto.com/id/1131381748/photo/youngogs-and-cats-above-grey-banner.jpg?s=612x612&w=0&k=20&c=_7edWsLzR0VejyDLdvdVLuUlz_n42rgXO7GPcnCV16E=";
  padding-top: 50px;
  padding-bottom: 50px;
}

.catFooter {
  background-color: lightblue;
}

.dogFooter {
  background-color: rgb(5, 192, 5);
}

.dinoFooter {
  background-color: orange;
}

/* .card {
  display: flex;
  text-align: center;
} */

/* #app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
  column-gap: 20px;
} */

/* .card-text {
  display: flex;
  justify-content: center;
}  */
